@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  overflow-y: hidden;
}

:root {
  --yellow: #FFCC26;
  --white: #FBFBFB;
  --darkGrey: #414141;
}

.wrapper {
  width: 1920px;
  margin: auto;
  padding-left: 90px;
  padding-right: 90px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 15px;
  background: rgba(65, 65, 65, 0.30);
}

::-webkit-scrollbar-thumb {
  width: 15px;
  height: 60px;
  border-radius: 5px;
  background: var(--yellow);
}